/*-Path: "react-choco-style/lib/src/temp/chat.css" */
body {
    margin: 0;
    overflow: hidden;
    background-color: transparent;
}

yt-live-chat-header-renderer {
    display: none;
}

yt-live-chat-message-input-renderer {
    display: none;
}

#items.yt-live-chat-item-list-renderer,
#item-offset.yt-live-chat-item-list-renderer {
    height: 100%;
}

html[dark],
[dark] {
    --yt-spec-base-background: transparent;
    --yt-spec-text-primary-inverse: transparent;
    --yt-live-chat-message-highlight-background-color: transparent;
}
